.drag-drop-wrap
  .instructions
    h1 1.
    p select Images
    
  #drop-container.drop-container
    ul#dropped-list
    p.drop-here Drop your images here
  hr
  .instructions
    h1 2.
    p Set the thumbnail size
    
  form.size-wrap
    .input-wrap
      p Select a size
      input#thumb-width(type="text", placeholder="width" ,required)
      p x
      input#thumb-height(type="text", placeholder="height", required)
    input#continue-bttn(type="submit", value="continue")
  hr
