footer
  .footer-wrap
    div
      .sm-logo
      .bubble 
        p Ooo... So Nice
    .info
      p.name brought to you by Wendy Aguilar
      p download source code on 
        a(href="https://github.com/aguilaw/dyno-thumbs/tree/gh-pages") github
      p and make thumbnails offline! 
    
